<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/WEB-INF/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
    <title>PigLetter</title>
</head>
<body>
    <div class="topmenu">
        <ul>
            <li><a href="index">首页</a></li>
            <li><a href="https://bilibili.com">哔哩哔哩</a></li>
            <li><a href="#">星星海</a></li>
            <li><a href="article">所有文章</a></li>
            <li><a href="leetcode">力扣记录</a></li>
            <li><a href="console">仪表盘</a></li>
            <li><a href="#">资源站</a></li>
            <li style="float: right;"><a href="register">注册</a></li>
            <div class="topmenu2">
                <li><a href="login">登录</a></li>
            </div>
            
        </ul>
    </div>
    
    <div class="colunm">
        <div class="textcontent">
            <div class="card">
                <h1>今天的标题</h1>
                <p>今天的正文</p>
            </div>
            <div class="card">
                <h1>今天的标题</h1>
                <p>今天的正文</p>
            </div>
            <div class="card">
                <h1>今天的标题</h1>
                <p>今天的正文</p>
            </div>
        </div>

        <div class="sidemenu">
            <div class="card">
                <h1>关于网站</h1>
                <p>巴拉巴拉巴拉</p>
            </div>

            <ul>
                <li><span style="background-color: rgb(124, 235, 101);">目录</span></li>
                <li><a href="#">一些小事</a></li>
                <li><a href="#">一些小事</a></li>
                <li><a href="#">一些小事</a></li>
                <li><a href="#">一些小事</a></li>
            </ul>  

        </div>


    </div>

    <div class = "footer">
        <a href="index.html">PigLetter</a>
        <p style="display: inline;">axikuazei@gmail.com</p>
    </div>
</body>
</html>