<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仪表盘</title>
    <link rel="stylesheet" href="/staitc/css/console.css" th:href="@{static/css/console.css}">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
    <script>
        function switchToArticles(){
            document.getElementById("articlelist").style.display = "block";
            document.getElementById("leetcodelist").style.display = "none";
        }

        function switchToLeetcodes(){
            document.getElementById("leetcodelist").style.display = "block";
            document.getElementById("articlelist").style.display = "none";
        }
    </script>
</head>
<body>
<div th:replace="~{/commons/bar::topmenu}"></div>
<div class="sidemenu">
    <ul >
        <li onclick="switchToArticles()">文章</li>
        <li onclick="switchToLeetcodes()">Leetcode题解</li>
    </ul>
</div>

<div class="list" id="articlelist">
    <h3>文章列表</h3>
    <table>
        <tr>
            <th>序号</th>
            <th>文章名</th>
            <th>操作</th>
            <th><a href="articleAdd"><button>添加</button></a></th>
        </tr>
        <div th:each="article:${articles}">
            <tr>
                <td th:text="${article.article_id}"></td>
                <td th:text="${article.article_title}"></td>
                <td><a href="#" th:href="@{'/articleAdd/'+${article.article_id}}"><button>编辑</button></a></td>
                <td>
                    <form action="article" th:action="article" method="post">
                        <input type="hidden" name="_method" th:value="delete">
                        <input type="hidden" name="article_id" th:value="${article.article_id}">
                        <input type="submit" value="删除">
                    </form>
                </td>
            </tr>
        </div>
    </table>
</div>

<div class="list" id="leetcodelist">
    <h3>文章列表</h3>
    <table>
        <tr>
            <th>序号</th>
            <th>文章名</th>
            <th>操作</th>
            <th><a href="leetcodeAdd"><button>添加</button></a></th>
        </tr>
        <div>
            <tr th:each="leetcode:${leetcodes}">
                <td th:text="${leetcode.leetcode_id}"></td>
                <td th:text="${leetcode.leetcode_title}"></td>
                <td><a href="#" th:href="@{'/leetcodeAdd/'+${leetcode.leetcode_id}}"><button>编辑</button></a></td>
                <td>
                    <form action="leetcode" th:action="leetcode" method="post">
                        <input type="hidden" name="_method" th:value="delete">
                        <input type="hidden" name="leetcode_id" th:value="${leetcode.leetcode_id}">
                        <input type="submit" value="删除">
                    </form>
                </td>
            </tr>
        </div>
    </table>
</div>



</body>
</html>