
.sidemenu{
    box-sizing: border-box;
    width: 25%;
    float: left;
}

.sidemenu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sidemenu li{
    display: block;
    padding: 7px;
    background-color: aquamarine;
}

.sidemenu li:hover{
    display: block;
    padding: 7px;
    background-color: rebeccapurple;

}

.sidemenu li{
    display: block;
    padding: 7px;
    background-color: rgb(51, 153, 56);
}


#articlelist{
    box-sizing: border-box;
    width: 75%;
    float: left;
    display: block;
}

#leetcodelist{
    box-sizing: border-box;
    width: 75%;
    float: left;
    display: none;
}



