.editwindow{
    width: 80%;
    margin: auto;
}

.editsub{
    width: 80%;
    margin: auto;
}

.editwindow input[type=text]{
    margin-bottom: 17px;
}


.editwindow textarea{
    background-color: antiquewhite;
    width: 80%;
    height: 370px;
    margin: auto;
    margin-bottom: 14px;
}