<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pigletter.dao.ArticleMapper">

    <select id="selectArticles"  resultType="cn.pigletter.model.Article">
        select * from article order by article_id DESC;
    </select>

    <select id="selectArticleByID"  resultType="cn.pigletter.model.Article">
        select * from article where article_id = #{id};
    </select>

    <insert id="insertArticle" parameterType="cn.pigletter.model.Article">
        insert into article(article_title,article_content)
        values(#{article_title}, #{article_content});
    </insert>

    <delete id="deleteArticleByID">
        delete from article where article_id = #{id};
    </delete>

    <update id="updateArticle">
        update article
        <set>
            <if test="article_title!=null and !article_title.equals(&quot;&quot;)">
                article_title=#{article_title},
            </if>
            <if test="article_content!=null and !article_content.equals(&quot;&quot;)">
                article_content=#{article_content},
            </if>
        </set>
        where article_id=#{article_id}
    </update>

</mapper>